<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.kfjira.mapper.ContactMapper">
    <resultMap id="BaseResultMap" type="com.demo.kfjira.entity.ContactEntity">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="version" property="version" jdbcType="BIGINT"/>
        <result column="anonymous_id" property="anonymousId" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="comments" property="comments" jdbcType="VARCHAR"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP"/>
        <result column="date_of_birthday" property="dateOfBirthday" jdbcType="TIMESTAMP"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="home_phone" jdbcType="VARCHAR" property="homePhone"/>
        <result column="industry" jdbcType="VARCHAR" property="industry"/>
        <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="postal_code" property="postalCode" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="street" property="street" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="website" property="website" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="BIT"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="merged_id" property="mergedId" jdbcType="BIGINT"/>
        <result column="is_anonymous" property="isAnonymous" jdbcType="BIT"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
    </resultMap>


    <insert id="insertOne" parameterType="com.demo.kfjira.entity.ContactEntity" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        contact
        (version, anonymous_id, city, date_created, gender, last_updated,mobile_phone,name,state,tenant_id,nickname,is_anonymous)
        VALUES
            (#{version}, #{anonymousId}, #{city}, #{dateCreated},
            #{gender}, #{lastUpdated}, #{mobilePhone}, #{name},#{state},
            #{tenantId},#{nickname},#{isAnonymous})
    </insert>

    <select id="SelectByOpenId" resultMap="BaseResultMap">
        SELECT
        id,contact_id,anonymous_id,is_active,mobile_phone,external_id,nickname
        FROM contact_identity where tenant_id=#{tenantId} and channel_id=#{channelId} and anonymous_id=#{openId}
    </select>

    <insert id="batchInsert" parameterType="java.util.ArrayList">
        insert into wechat_media (media_id, `type`, title, author, content, create_time, update_time,
        tenant_id,channel_id, date_created)
        values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.mediaId,jdbcType=VARCHAR}, #{entity.type,jdbcType=VARCHAR},
            #{entity.title,jdbcType=VARCHAR},#{entity.author,jdbcType=VARCHAR},
            #{entity.content,jdbcType=VARCHAR},#{entity.createTime},#{entity.updateTime},
            #{entity.tenantId,jdbcType=BIGINT},#{entity.channelId,jdbcType=BIGINT}, now())
        </foreach>
        ON DUPLICATE KEY UPDATE
        `title` = VALUES(`title`), `author` = VALUES(`author`),
        `content` = VALUES(`content`), `create_time` = VALUES(`create_time`),
        `update_time` = VALUES(`update_time`), `date_created` = now()
    </insert>

    <update id="updatePhoneById">
        update contact set mobile_phone = #{phone} where id = #{id}
    </update>
</mapper>